.balance-container {
  background-color: white;
  height: 500px;
  width: 320px;
  margin-top: 8em;
  margin-left: 2em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.balance-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px; /* Adjust the gap between grid items as needed */
}

.balance-item {
  height: 50px;
  text-align: center;
}

.balance-header{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 0.5em;
}

.symbol-name {
  font-size: 12px;
}

.balance-number{
  font-size: 15px;
}


/*  */

.total-bal-display{
  background-color: rgb(225, 208, 181);
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.fiat-bal-container{
  width: 100%;
}

.new-section-header {
  background-color: rgb(225, 208, 181);
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
  margin: 0px;
  font-size: 18px;
}