.currency-selection {
  width: 650px;
  & ul {
    border-bottom: solid black 1px;
    padding: 0.5em;
  }

  & li:hover {
    color: rgb(225, 208, 181);
    cursor: pointer;
  }
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.order-grid-container {
  margin-top: 2em;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.order {
  padding: 1em;
  height: 200px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  gap: 1em;
}

.order .order-header {
  display: flex;
  justify-content: space-between;
}

.order .button-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.order .order-type-input {
  display: flex;
  justify-content: space-between;
}

.order .quantity-input {
  display: flex;
  justify-content: space-between;
}

.quanity-input {
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  width: 80px;
}

.buy,
.sell {
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.buy {
  background-color: rgba(44, 187, 8, 0.49);
}

.sell {
  background-color: rgba(187, 8, 8, 0.49);
}

.buy:hover,
.sell:hover {
  box-shadow: none;
}

.slogan {
  color: rgb(199, 158, 93);
}
